
label {
    height: 100%; /* 100% Full-height */
    width: 30px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    color: #fff;
}
.navCheckBox {
    display: none;
}
form {
    margin-left: 30px;
}

#nav:checked + label {
    width: 270px;
}
/* The navigation menu links */
.sidenav a {
    margin: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.width8{
    width: 80%;
}

.width9{
    width: 90%;
}
.width2{
    width: 20%;
}

.text-black{
    color: #000;
}
